/* PHASE 4: Footer */

.footer {
	width: 900px;
	color: grey;
	background: white;
	border-left: 1px solid grey;
  	border-right: 1px solid grey;
 	border-bottom: 1px solid grey;
}

.footer-copy {
	float: left;
	padding: 20px;
}

.footer-links {
	float: right;
}

.footer-links > li {
	float: left;
	padding: 20px;
}

.footer a {
	display: block;
}

.footer a:hover {
	color: black;
}
